// Breakpoints
$layout-breakpoint-large: 1920px;
$layout-breakpoint-medium: 1440px;
$layout-breakpoint-small: 960px;
$layout-breakpoint-xsmall: 480px;

// Colors
$background: #fff;
$white: #fff;
$primary: #282a30;
$secondary: #6b6f76;
$tertiary: #999ea7;
$green: #058527;
$avatar-border: rgba(0, 0, 0, 0.1);
$context-border: #ebebeb;
$item-hover: #f2f2f2;
$shadow-xs: 0px 2px 4px 0px #0000000a;
$ease: cubic-bezier(0.2, 0.8, 0.2, 1);
